.ul {
    padding-left: 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.ul li {
    font-weight: 500;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0.2rem;
    margin: 0.3rem;
    border-radius: 10%;
    background-color:  #3d3a50;
    transition: background-color 1s 0.3s;
}
.ul li:hover {
    background-color: deeppink;
}