.nav {
    padding: 0.3rem;
    border-radius: 5px;
    width: 98vw;
    margin-top: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #3d3a50;
}

.image {
    border-radius:
30% 70% 70% 30% / 30% 30% 70% 70%;
    width: 3rem;
    height: 3rem;
    object-fit: cover;
}
.input {
    padding: 0.3rem;
    border-radius: 5px;
    border: 1px solid rgb(216, 214, 214);
    outline: 0;
}